# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/client/lib/smartContractFunctions.sol
# Docs
docs/

# Dotenv file
.env
PRODUCT.md
import.env
ai_trader_npc_fastapi/GEMINI.md

ai_trader_npc_fastapi/test_buy_event.py